<mat-drawer-container autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 0px;">
  <mat-toolbar color="primary">
    <span>Country App</span>
  </mat-toolbar>
  <div class="countainer d-flex flex-column justify-content-center p-5">
    <h1 class="text-center display-3">Fun Fact About Countries</h1>
    
    <div class="button-center">
      <button 
      mat-raised-button color="primary" 
      (click)="buttonClick()">
        {{ getButtonText() }}
      </button>
    </div>
    
    
    <app-home-component 
      [countries]="countries" 
      (clickCardListener)="cardClicked($event)"
      *ngIf="isHomePage">
    </app-home-component>

    <app-all-countries-component
      [countries]="countries"
      (clickCardListener)="cardClicked($event)"  
      *ngIf="!isHomePage">
    </app-all-countries-component>
  </div>
</mat-drawer-container>