.title {
    color: pink;
    font-weight: normal;
    margin-bottom: 10px;
}

.content {
    text-align: end;
    font-weight: normal;
} 

table {
    width: 300px;
}

h1 {
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
}

button {
    width: 100%;
    margin-top: 20px;
}